#root {
    min-width: 400px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-family: Arial, serif;
    background-color: #89CC04;

}

.label {
    color: black;
    font-size: 90px;
    -webkit-transform: scale(0.65, 1);
}

.slider-el {
}

