[submodule "modules/marvin"]
	path = modules/marvin
	url = https://github.com/MeijisIrlnd/marvin.git
[submodule "modules/clap-wrapper"]
	path = modules/clap-wrapper
	url = https://github.com/free-audio/clap-wrapper.git
