[submodule "modules/marvin"]
	path = modules/marvin
	url = https://github.com/MeijisIrlnd/marvin.git
[submodule "modules/clap-wrapper"]
	path = modules/clap-wrapper
	url = https://github.com/free-audio/clap-wrapper.git
[submodule "modules/choc"]
	path = modules/choc
	url = https://github.com/SLM-Audio/choc.git
[submodule "modules/clap-helpers"]
	path = modules/clap-helpers
	url = https://github.com/free-audio/clap-helpers.git
