#root {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #89CC04;
    min-width: 500px;
    min-height: 500px;
    align-content: center;
}

.container {
    padding: 0;
    margin: 0;
}

.title {
    padding: 0;
    margin: 0;
    font-family: Arial, serif;
    font-size: 90px;
    color: black;
    -webkit-transform: scale(0.65, 1);

}

