on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, edited, reopened, synchronize ]
jobs:
  tests-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4.1.2
        with:
          submodules: true
      - name: Configure and Build
        uses: threeal/cmake-action@main
        with:
          options: "MOSTLY_HARMLESS_TESTS=ON CMAKE_BUILD_TYPE=Release"
          build-args: "--target mostly-harmless-tests --config Release"
      - name: Run tests
        run: "./build/release/mostly-harmless-tests.exe"

  tests-macos:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4.1.2
        with:
          submodules: true
      - name: Clean Existing
        run: "rm -rf ./build"
      - name: Configure and Build
        uses: threeal/cmake-action@main
        with:
          options: "MOSTLY_HARMLESS_TESTS=ON CMAKE_BUILD_TYPE=Release"
          build-args: "--target mostly-harmless-tests --config Release -- -j 24"
      - name: Run tests
        run: "./build/mostly-harmless-tests"

